.app-contenedor {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.contenido-principal {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}




