@import 'bootstrap/dist/css/bootstrap.min.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #ffff;
  color: #1a1a18;
}

@font-face {
  font-family: 'IBMPlex';
  src: url('/assets/fonts/ibm-plexmono-regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ModernDos';
  src: url('/assets/fonts/modern-dos.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'vt323';
  src: url('/assets/fonts/vt323-regular.ttf');
  font-weight: normal;
  font-style: normal;
}
